*,
*:before,
*:after {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

*:focus {
  outline: none;
  border-color: #007bff5d;
  -webkit-box-shadow: 0 0 0 0.15rem #007bff5d;
  box-shadow: 0 0 0 0.15rem #007bff5d;
}

body {
  background-color: #f8f8f8;
}

button {
  text-align: center;
  cursor: pointer;
}
